<head>
<link rel="icon" type="image/jpg" href="/favicon.ico" sizes="16x16"/>
<title>AO</title>
</head>

<p>Welcome to the Anarchist Operations homepage!</p>

<p>Contents:</p>

<ul>
<li><a href="https://anarchistoperations.nz/signala">signal a</a></li>
<li><a href="https://anarchistoperations.nz/signalb">signal b</a></li>
</ul>
